
.container-fluid, .row, .sidebar, .main {
    height: 100%;
    overflow-y: hidden;
}

.sidebar {
    background: #f5f5f5;
    padding-top: 20px;
}

.main {
    background-color: #428bca;
    color: #fff;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


